<!DOCTYPE html>
<html lan="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    
    <body>
        <h1>Person Name: <%= ID %></h1>
        <% let repeat = true %>
        <% switch(Message){ 
            case 'Hola': %>
            <h2>Mensaje: <%= Message %></h2>
            <% break;
            case 'Bienvenido': %>
            <h2>Mensaje: <%= Message %></h2>
            <% break;
            case 'Adios': %>
            <h2>Mensaje: <%= Message %></h2>
            <% break;
            default: %>
            <h2>Mensaje: "<%= Message %>" No admitido para repeticiones</h2>
            <% repeat = false;
            break %>
        <% } %>
        <% if(repeat == true){ %>
            <% let final = Message + " " + ID %>
            <% for(let i=1; i<=Times; i++) { %>
                <p><%= final %></p>
            <% } %>
        <% } %>
    </body>
</html>